<?xml version="1.0" ?>
<config>
    <tabs>
        <sales translate="label" module="sales">
            <label>Sales</label>
            <sort_order>400</sort_order>
        </sales>
    </tabs>
    <sections>
        <sales translate="label" module="sales">
            <groups>
                <totals_sort translate="label">
                    <fields>
                        <additional_shipping_cost translate="label">
                            <label>Additional Shipping cost</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </additional_shipping_cost>
                    </fields>
                </totals_sort>
            </groups>
        </sales>
    </sections>
</config>


