<?xml version="1.0"?>
<config>
    <modules>
        <Atsumoriso_Blog>
            <version>1.0.1</version>
        </Atsumoriso_Blog>
    </modules>
    <global>
        <blocks>
            <atsumoriso_blog>
                <class>Atsumoriso_Blog_Block</class>
            </atsumoriso_blog>
        </blocks>
        <models>
            <blog>
                <class>Atsumoriso_Blog_Model</class>
                <resourceModel>blog_resource</resourceModel>
            </blog>
            <blog_resource>
                <class>Atsumoriso_Blog_Model_Resource</class>
                <entities>
                    <post>
                        <table>blog_post</table>
                    </post>
                    <productbinded>
                        <table>blog_post_product_binded</table>
                    </productbinded>
                </entities>
            </blog_resource>
       </models>

        <helpers>
            <atsumoriso_blog>
                <class>Atsumoriso_Blog_Helper</class>
            </atsumoriso_blog>
        </helpers>

        <resources>
            <atsumoriso_blog_setup> <!--folder name to read from-->
                <setup>
                    <module>Atsumoriso_Blog</module>
                </setup>
            </atsumoriso_blog_setup>
        </resources>

    </global>
    <frontend>
        <routers>
            <atsumoriso_blog>
                <use>standard</use>
                <args>
                    <module>Atsumoriso_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </atsumoriso_blog>
        </routers>
        <layout>
            <updates>
                <atsumoriso_blog>
                    <file>blog.xml</file>
                </atsumoriso_blog>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <atsumoriso_blog before="Mage_Adminhtml">Atsumoriso_Blog_Adminhtml</atsumoriso_blog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <atsumoriso_blog>
                                            <title>Atsumoriso title</title>
                                        </atsumoriso_blog>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>